__pycache__/
*.pyc
ml/data/
firmware/build/
# los datos reales nunca se versionan aquí
data_real/
firmware/build/
mechanical/stl/
hardware/.history/
hardware/*-backups/
hardware/~*.lck
hardware/fp-info-cache
*.FCBak
